div
{
    display:flex;
    justify-content: center;
    margin-top:30px;
}
table, th, td {
  border:1px solid black;
  padding: 10px;
  background-color: #d9f3f2;
  font-weight: bold;
}
h3{
    text-align: center;
    color:rgb(5, 161, 5);
}
